<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
</head>
<link th:href="@{/static/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" th:href="@{/static/assets/plugins/select2/select2.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/assets/plugins/select2/select2-metronic.css}"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link th:href="@{/static/assets/css/style-metronic.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/style.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/style-responsive.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/themes/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
<link th:href="@{/static/assets/css/pages/login-soft.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/custom.css}" rel="stylesheet" type="text/css"/>
<body>
<div class="cont">
  <input type="hidden" id="basePath" name="basePath" value="http://localhost/aik-manager" th:value="${basePath}" />
  
  <h1 class="seth1">系统消息</h1>
  <div class="bigok">
    <div class="bigokimg"><img th:src="@{/static/assets/img/no_image.gif}" width="121" height="113" /></div>
    <div class="bigleft">
      <ul>
        <li>登陆失败！</li>
        <li class="hui">用户名、密码有至少一项不正确！</li>
		<li class="hui">3秒后自动为您跳转到登陆界面！</li>
        <li class="successbtn"><a th:href="@{/}">返回上一页</a></li>
      </ul>
    </div>
	<script>
	  var count=3;
	  var basePath = document.getElementById(basePath).value;
	  window.setInterval(go,1000);
	  function go(){
	    count--;
	    if(count==0) window.location.href= basePath + "/";
	  }
	</script>
  </div>
</div>
</body>
</html>
