<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en" class="no-js">
<!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
<meta charset="utf-8" />
<title>登录</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<meta content="" name="description"/>
<meta content="" name="author"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link th:href="@{/static/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/plugins/uniform/css/uniform.default.css}" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<!-- BEGIN PAGE LEVEL STYLES -->
<link rel="stylesheet" type="text/css" th:href="@{/static/assets/plugins/select2/select2.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/static/assets/plugins/select2/select2-metronic.css}"/>
<!-- END PAGE LEVEL SCRIPTS -->
<!-- BEGIN THEME STYLES -->
<link th:href="@{/static/assets/css/style-metronic.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/style.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/style-responsive.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/plugins.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/themes/default.css}" rel="stylesheet" type="text/css" id="style_color"/>
<link th:href="@{/static/assets/css/pages/login-soft.css}" rel="stylesheet" type="text/css"/>
<link th:href="@{/static/assets/css/custom.css}" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
<!-- <link rel="shortcut icon" href="favicon.ico"/> -->
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<!-- <img src="/static/assets/img/logo-big.png" alt="" />  -->
		<h2>欢迎使用癌康之家后台管理系统</h2>
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="login-form" th:action="@{/login}"
			name="theForm" id="theForm" method="post">
			<input type="hidden" id="gotoURI" name="gotoURI" value="" />
		 <h3 class="form-title">请输入您帐号信息</h3>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span>请输入用户名和密码。</span>
			</div>
			<div style="border-radius: 4px; margin-bottom: 20px;padding: 15px;background-color: #f2dede;border-color: #ebccd1;color: #a94442;" class="alerttt #if($!flag != '1')
			 display-hide 
			 #end">
				<button class="close" data-close="alert"></button>
				<span>
				</span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9">用户名</label>
				<div class="input-icon">
					<i class="fa fa-user"></i> <input
						class="form-control placeholder-no-fix" type="text"
						autocomplete="off" placeholder="用户名" name="userName" />
						<span></span>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9">密码</label>
				<div class="input-icon">
					<i class="fa fa-lock"></i> <input autocomplete="off" class="form-control placeholder-no-fix" type="password"
					 placeholder="密码" name="password" />
				</div>
			</div>
			<div class="form-actions">
				<!-- <label class="checkbox"> <input type="checkbox"
					name="remember" value="1" /> 记住密码
				</label> -->
				<button type="submit" class="btn blue pull-right">
					登录 <i class="m-icon-swapright m-icon-white"></i>
				</button>
				<input name="login_role" type="hidden"
							id="login_role" value="admin" />
			</div>
			<div class="forget-password">
				<h4>忘记密码 ?</h4>
				<p>别担心，点击 <a href="javascript:;" id="forget-password"> 这里 </a> 重置您的密码.
				</p>
			</div>
		</form>
		<!-- END LOGIN FORM -->
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" action="index.html" method="post">
			<h3>忘记密码?</h3>
			<p>输入您的邮箱地址或手机号码，我们会把重置密码信息发送到您邮箱或手机上。.</p>
			<div class="form-group">
				<div class="input-icon">
					<i class="fa fa-envelope"></i> <input
						class="form-control placeholder-no-fix" type="text"
						autocomplete="off" placeholder="Email/手机号码" name="email" />
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn">
					<i class="m-icon-swapleft"></i> 返回
				</button>
				<button type="submit" class="btn blue pull-right">
					提从 <i class="m-icon-swapright m-icon-white"></i>
				</button>
			</div>
		</form>
		<!-- END FORGOT PASSWORD FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">2017 &copy; www.aik.com.</div>
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->
	<!--[if lt IE 9]>
	<script th:src="@{/static/assets/plugins/respond.min.js"></script>
	<script th:src="@{/static/assets/plugins/excanvas.min.js"></script> 
	<![endif]-->
	<script th:src="@{/static/assets/plugins/jquery-1.10.2.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/jquery-migrate-1.2.1.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/jquery.blockui.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/jquery.cokie.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/uniform/jquery.uniform.min.js}" type="text/javascript"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script th:src="@{/static/assets/plugins/jquery-validation/dist/jquery.validate.min.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/plugins/backstretch/jquery.backstretch.min.js}" type="text/javascript"></script>
	<script type="text/javascript" th:src="@{/static/assets/plugins/select2/select2.min.js}"></script>
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script th:src="@{/static/assets/scripts/core/app.js}" type="text/javascript"></script>
	<script th:src="@{/static/assets/scripts/custom/login-soft.js}" type="text/javascript"></script>
	<!-- END PAGE LEVEL SCRIPTS -->
	<!-- END PAGE LEVEL SCRIPTS -->
	<script>
		jQuery(document).ready(function() {
			App.init();
			Login.init();
		});
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>