<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>内容
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
			<a href="javascript:;" class="reload">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form action="" method="post" class="form-inline" id="questionOrder_vfm" enctype="multipart/form-data">
			<input type ="hidden" id="id" name="id" value="" th:value="${aikQuestionOrder.id}" />
			<input type ="hidden" id="opt" name="opt" value="" th:value="${opt}" />
			
			<table class="table  table-bordered ">
				<tr>
					<td>用户Id</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-description="userId"  data-describedby="userIdspan" id="userId" name="userId" th:value="${aikQuestionOrder.userId}" />
						<span class="required">*</span>
						<span class="help-inline prompt" id="userIdspan" style="color: #000000"></span>
					</td>
					<td>病症描述</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-description="description"  data-describedby="descriptionspan" id="description" name="description"  th:value="${aikQuestionOrder.description}" />
						<span class="required">*</span>
						<span class="help-inline prompt" id="descriptionspan" style="color: #000000"></span>
					</td>
				</tr>
				<tr>
					<td>疾病类型</td>
					<td>
						<select class="form-control" name="illType">
							<option value="0" selected="selected">待付款</option>
							<option value="1">待发货</option>
							<option value="2">已发货</option>
							<option value="3">已完成</option>
						</select>
					</td>
					<td>询问方式</td>
					<td><select class="form-control" name="type">
							<option value="0" selected="selected">匹配医生</option>
							<option value="1">公开</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td>医生id</td>
					<td><input type="text" class="form-control" name="doctorId" value="" th:value="${aikQuestionOrder.doctorId}" /></td>
					<td>问题赏金</td>
					<td><input type="text" class="form-control" name="amount" value="" th:value="${aikQuestionOrder.amount}" /></td>
				</tr>
				
				<tr>
					<td>订单状态</td>
					<td>
						<select class="form-control" name="status">
							<option value="0" selected="selected">审核中</option>
							<option value="1">付款中</option>
							<option value="2">处理中</option>
							<option value="3">评价中</option>
							<option value="4">退款中 </option>
							<option value="5">正常结束</option>
							<option value="6">失败订单</option>
						</select>
					</td>
					<td>失败类型</td>
					<td><select class="form-control" name="type">
							<option value="-1" selected="selected">非失败订单</option>
							<option value="0">审核不通过</option>
							<option value="1">医生拒绝</option>
						</select>
					</td>
				</tr>
				
				
				
				<tr>
					<td>拒绝原因</td>
					<td><input type="text" class="form-control" name="refuseReason" value="" th:value="${aikQuestionOrder.refuseReason}" /></td>
					<td>订单审核状态</td>
					<td>
						<select class="form-control" name="auditStatus">
							<option value="-1" selected="selected">未审核</option>
							<option value="0">审核不通过</option>
							<option value="1">审核通过</option>
						</select>
					</td>
				</tr>
				
				
				<tr>
					<td>订单审核人员id</td>
					<td><input type="text" class="form-control" name="auditorId" value="" th:value="${aikQuestionOrder.auditorId}" /></td>
					<td>订单审核原因</td>
					<td><input type="text" class="form-control" name="auditReason" value="" th:value="${aikQuestionOrder.auditReason}" /></td>
				</tr>
				
				
				<tr>
					<td>对医生评价</td>
					<td><input type="text" class="form-control" name="evaluation" value="" th:value="${aikQuestionOrder.evaluation}" /></td>
					<td>服务态度评分</td>
					<td><input type="text" class="form-control" name="serviceAttitude" value="" th:value="${aikQuestionOrder.serviceAttitude}" /></td>
				</tr>
				
				<tr>
					<td>回答质量评分</td>
					<td><input type="text" class="form-control" name="answerQuality" value="" th:value="${aikQuestionOrder.answerQuality}" /></td>
					<td>服务态度评分</td>
					<td><input type="text" class="form-control" name="serviceAttitude" value="" th:value="${aikQuestionOrder.serviceAttitude}" /></td>
				</tr>
				
			</table>
			
			
			<div class="form-body">
				<div class="form-group">
					<div class="note note-success">
						<h4 class="block">订单明细</h4>
							<p></p>
						</div>
				</div>
				
				<table class="table table-striped table-bordered table-hover" id="sample_1">
					<thead>
					<tr>
						<th>编号</th>
						<th>问题描述</th>
						<th>问题类型</th>
						<th>操作</th>
					</tr>
					</thead>
					<tbody>
					<tr class="odd gradeX"  th:each="aikQuestion,iterStat : ${aikQuestions}"  >
						<td th:text="${aikQuestion.id}"></td>
						<td th:text="${aikQuestion.description}"></td>
						<td>
							<div th:switch="${aikQuestion.type}">
								<span th:case="'0'">初始提问 </span>
								<span th:case="'1'">追问 </span>
								<span th:case="'2'">评分</span>
							</div>
						</td>
						<td></td>
					</tr>
					</tbody>
					</table>
				
			</div>
			
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-offset-5 col-md-3">
							<button type ="submit" id="save_ar" class="btn blue" >保 存</button>
							<button type="button" id="goback_ar" class="btn default">返 回</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
window.questionOrderView = null;
var questionOrderView  = {
		fm : jQuery("#questionOrder_vfm"),
		
		basePath : jQuery("#basePath").val(),
		//初始化
		init : function(){
			if(jQuery("#opt").val() == "view"){
				questionOrderView.readOnlyPallet();
			}
			this.bindEvent();
			this.initValidate();
		},
		
		//事件绑定
		bindEvent : function(){
			var _this = this;

			//绑定保存单击事件
			jQuery("#save_ar").bind("click", function(){
				Dialog.confirm({
					content:'确定保存?',
					onSubmitted:function(){
   						if(UiUtils.check("questionOrder_vfm")){
   							//updateAdmin();
   							var url = _this.basePath + "/questionOrders/update";
							_this.ajaxSubmit(url);
   						}
   					}
    			});
			});
			
			
			jQuery("#goback_ar").bind("click",function(){
				_this.closedTab();				
    		});
			
		},
   		closedTab : function(){
    			jQuery('#tabli_11').trigger('click'),
				jQuery('#tabli_2').remove(),
				jQuery('#tab_2').remove(),
				qeustionOrderPage.load(1);
    	},
		//禁止输入
   		readOnlyPallet: function(){
   			this.fm.find("input, textarea").attr("readOnly", true);
   			this.fm.find("input[type='riadio']").attr("disable",true);
			this.fm.find("select").attr("disabled", true);
			jQuery("#save_ar").remove();
		},
		//提交数据
   		/* onSubmit: function(){
   			var _this = this;
   			Ajax.request({
   				url:"/partnerUpdate.htm",
   				type:"post",
   				data: {partner:JSON.stringify(_this.getFormData())},
   				success: function(data){
   					if(!data) return;
   					Dialog.notice({
   						content: data.info,
   						onSubmitted: function(){
   							_this.closedTab();
   						},
   						onClosed: function(){
   							_this.closedTab();
   						}
   					});
   				}
   			});
   		}, */
   		//有图片的页面提交
   		ajaxSubmit: function(url){
   			var _this = this;
   			Ajax.requestSubmit({
				fm: _this.fm,
				url: url,
				type: "post",
				success: function(data){
					if(!data) return;
					Dialog.notice({
						content: data.info,
						onSubmitted: function(){
							_this.closedTab();
						},
						onClosed: function(){
							_this.closedTab();
						}
					});
				}
   			});
   		},
   		//基本信息表单域取值
   		getFormData: function(){
   			var data = {},
				_field,
				_fieldName;
			this.fm.find("input, select").each(function(i, n){
				_field = jQuery(n), 
				_fieldName = _field.attr("name");
				if(_fieldName){
					data[_fieldName] = _field.val();
				}
			});
			return data;
   		},
   		
   		initValidate : function(){
   		
    		jQuery('#questionOrder_vfm').validate({
				onKeyup : true,
				sendForm : false,
				eachValidField : function() {
					jQuery(this).removeClass('error');
				},
				eachInvalidField : function() {
					jQuery(this).addClass('error');
				},
				
				description : {
				
					name : {
						required : '请输入商品名称'
					}
				}
				
			});
   		
   		}
}

 </script> 
<script>
jQuery(document).ready(function(){    
	questionOrderView.init();
});
</script>
