<div>
    <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
            <div class="portlet box blue">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-reorder"></i>查询条件
                    </div>
                    <div class="tools">
                        <a href="javascript:void(0);" class="collapse">
                        </a>
                        <a href="javascript:void(0);" class="reload">
                        </a>
                    </div>
                </div>

                <div class="portlet-body form">
                    <form class="form-horizontal">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">问题类型</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">问题描述</label>
                                        <div class="col-md-9">
                                            <input type="text" class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>