<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover" id="sample_1">
            <thead>
            <tr>
                <th>编号</th>
                <th>用户类型</th>
                <th>问题类型</th>
                <th>用户姓名</th>
                <th>反馈内容</th>
                <th>反馈时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="odd gradeX" th:each="feedback,iterStat : ${pageInfo.list}">
                <td th:id="${feedback.id}" th:text="${feedback.id}"></td>
                <td>
                    <div th:switch="${feedback.userType}">
                        <p th:case="0">用户</p>
                        <p th:case="1">医生</p>
                        <p th:case="*">-</p>
                    </div>
                </td>
                <td>
                    <div th:switch="${feedback.type}">
                        <p th:case="0">功能异常</p>
                        <p th:case="1">产品建议</p>
                        <p th:case="2">其他</p>
                        <p th:case="*">-</p>
                    </div>
                </td>
                <td th:text="${feedback.realName}"></td>
                <td th:text="${feedback.description}"></td>
                <td th:text="${#dates.format(feedback.createDate, 'yyyy-MM-dd HH:mm:ss')}">
                <td>
                    <a href="javascript:void(0);" class="btn default btn-xs blue view">
                        <i class="fa fa-share"></i> 查看
                    </a>
                    <a href="javascript:void(0);" class="btn default btn-xs black delete">
                        <i class="fa fa-trash-o"></i>删除
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="row">
            <div class="col-md-5 col-sm-12">
                <div class="dataTables_info" id="sample_1_info">
                    总数<span th:text="${pageInfo.total}"></span>条,每页显示<span th:text="${pageInfo.pageSize}"></span>条
                </div>
            </div>
            <div class="col-md-7 col-sm-12">
                <div class="dataTables_paginate paging_bootstrap">
                    <ul id="page_id" class="pagination" style="visibility: visible;">
                        <li data-pre="pageNum" th:class="${pageInfo.hasPreviousPage}? 'prev' : 'prev disabled' ">
                            <a th:attr="value=${pageInfo.prePage}" title="上一页" href="javascript:void(0);">
                                <i class="fa fa-angle-left"></i>
                            </a>
                        </li>
                        <li data-pre="pageNum" th:each="navNum,iterStat : ${pageInfo.navigatepageNums}" th:class="${navNum == pageInfo.pageNum}? 'active' : ''">
                            <a th:attr="value=${navNum == pageInfo.pageNum} ? 0 : ${navNum}" href="javascript:void(0);">
                                <span th:text="${navNum}"></span>
                            </a>
                        </li>
                        <li data-pre="pageNum" th:class="${pageInfo.hasNextPage}? 'next' : 'next disabled'">
                            <a th:attr="value=${pageInfo.nextPage}" title="下一页" href="javascript:void(0);">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</html>