<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AccCircleCommentMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AccCircleComment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="circleId" jdbcType="INTEGER" property="circleId" />
    <result column="commenterId" jdbcType="INTEGER" property="commenterId" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, circleId, commenterId, content, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acc_circleComment
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acc_circleComment
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AccCircleComment">
    insert into acc_circleComment (id, circleId, commenterId, 
      content, createDate)
    values (#{id,jdbcType=INTEGER}, #{circleId,jdbcType=INTEGER}, #{commenterId,jdbcType=INTEGER}, 
      #{content,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AccCircleComment">
    insert into acc_circleComment
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="circleId != null">
        circleId,
      </if>
      <if test="commenterId != null">
        commenterId,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="circleId != null">
        #{circleId,jdbcType=INTEGER},
      </if>
      <if test="commenterId != null">
        #{commenterId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AccCircleComment">
    update acc_circleComment
    <set>
      <if test="circleId != null">
        circleId = #{circleId,jdbcType=INTEGER},
      </if>
      <if test="commenterId != null">
        commenterId = #{commenterId,jdbcType=INTEGER},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AccCircleComment">
    update acc_circleComment
    set circleId = #{circleId,jdbcType=INTEGER},
      commenterId = #{commenterId,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCountBySelective" parameterType="com.aik.model.AccCircleComment" resultType="int">
    select count(*)
    from acc_circleComment
    where 1=1
    <if test="circleId != null">
      and circleId = #{circleId,jdbcType=INTEGER}
    </if>
    <if test="commenterId != null">
      and commenterId = #{commenterId,jdbcType=INTEGER}
    </if>
  </select>
  <select id="findAll" parameterType="com.aik.model.AccCircleComment"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from acc_circleComment
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="commenterId != null">
      and commenterId = #{commenterId}
    </if>
    <if test="circleId != null">
      and circleId = #{circleId}
    </if>
  </select>
  
</mapper>