<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AccDoctorAccountMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AccDoctorAccount">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="mobileNo" jdbcType="VARCHAR" property="mobileNo" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="realName" jdbcType="VARCHAR" property="realName" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="areaProvince" jdbcType="VARCHAR" property="areaProvince" />
    <result column="areaCity" jdbcType="VARCHAR" property="areaCity" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="identityCard" jdbcType="VARCHAR" property="identityCard" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="hosName" jdbcType="VARCHAR" property="hosName" />
    <result column="hosDepartment" jdbcType="VARCHAR" property="hosDepartment" />
    <result column="skill" jdbcType="VARCHAR" property="skill" />
    <result column="departmentPhone" jdbcType="VARCHAR" property="departmentPhone" />
    <result column="devType" jdbcType="VARCHAR" property="devType" />
    <result column="headImg" jdbcType="VARCHAR" property="headImg" />
    <result column="position" jdbcType="TINYINT" property="position" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="starLevel" jdbcType="DECIMAL" property="starLevel" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, mobileNo, userName, password, realName, sex, areaProvince, areaCity, birthday, 
    identityCard, email, hosName, hosDepartment, skill, departmentPhone, devType, headImg, 
    position, price, starLevel, createDate, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from acc_doctorAccount
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from acc_doctorAccount
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AccDoctorAccount">
    insert into acc_doctorAccount (id, mobileNo, userName, 
      password, realName, sex, 
      areaProvince, areaCity, birthday, 
      identityCard, email, hosName, 
      hosDepartment, skill, departmentPhone, 
      devType, headImg, position, 
      price, starLevel, createDate, 
      updateDate)
    values (#{id,jdbcType=INTEGER}, #{mobileNo,jdbcType=VARCHAR}, #{userName,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=TINYINT}, 
      #{areaProvince,jdbcType=VARCHAR}, #{areaCity,jdbcType=VARCHAR}, #{birthday,jdbcType=DATE}, 
      #{identityCard,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{hosName,jdbcType=VARCHAR}, 
      #{hosDepartment,jdbcType=VARCHAR}, #{skill,jdbcType=VARCHAR}, #{departmentPhone,jdbcType=VARCHAR}, 
      #{devType,jdbcType=VARCHAR}, #{headImg,jdbcType=VARCHAR}, #{position,jdbcType=TINYINT}, 
      #{price,jdbcType=DECIMAL}, #{starLevel,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AccDoctorAccount" useGeneratedKeys="true" keyProperty="id">
    insert into acc_doctorAccount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="mobileNo != null">
        mobileNo,
      </if>
      <if test="userName != null">
        userName,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="realName != null">
        realName,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="areaProvince != null">
        areaProvince,
      </if>
      <if test="areaCity != null">
        areaCity,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="identityCard != null">
        identityCard,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="hosName != null">
        hosName,
      </if>
      <if test="hosDepartment != null">
        hosDepartment,
      </if>
      <if test="skill != null">
        skill,
      </if>
      <if test="departmentPhone != null">
        departmentPhone,
      </if>
      <if test="devType != null">
        devType,
      </if>
      <if test="headImg != null">
        headImg,
      </if>
      <if test="position != null">
        position,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="starLevel != null">
        starLevel,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mobileNo != null">
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="areaProvince != null">
        #{areaProvince,jdbcType=VARCHAR},
      </if>
      <if test="areaCity != null">
        #{areaCity,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=DATE},
      </if>
      <if test="identityCard != null">
        #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="hosName != null">
        #{hosName,jdbcType=VARCHAR},
      </if>
      <if test="hosDepartment != null">
        #{hosDepartment,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        #{skill,jdbcType=VARCHAR},
      </if>
      <if test="departmentPhone != null">
        #{departmentPhone,jdbcType=VARCHAR},
      </if>
      <if test="devType != null">
        #{devType,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        #{position,jdbcType=TINYINT},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="starLevel != null">
        #{starLevel,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AccDoctorAccount">
    update acc_doctorAccount
    <set>
      <if test="mobileNo != null">
        mobileNo = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="userName != null">
        userName = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="realName != null">
        realName = #{realName,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=TINYINT},
      </if>
      <if test="areaProvince != null">
        areaProvince = #{areaProvince,jdbcType=VARCHAR},
      </if>
      <if test="areaCity != null">
        areaCity = #{areaCity,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        birthday = #{birthday,jdbcType=DATE},
      </if>
      <if test="identityCard != null">
        identityCard = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="hosName != null">
        hosName = #{hosName,jdbcType=VARCHAR},
      </if>
      <if test="hosDepartment != null">
        hosDepartment = #{hosDepartment,jdbcType=VARCHAR},
      </if>
      <if test="skill != null">
        skill = #{skill,jdbcType=VARCHAR},
      </if>
      <if test="departmentPhone != null">
        departmentPhone = #{departmentPhone,jdbcType=VARCHAR},
      </if>
      <if test="devType != null">
        devType = #{devType,jdbcType=VARCHAR},
      </if>
      <if test="headImg != null">
        headImg = #{headImg,jdbcType=VARCHAR},
      </if>
      <if test="position != null">
        position = #{position,jdbcType=TINYINT},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="starLevel != null">
        starLevel = #{starLevel,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AccDoctorAccount">
    update acc_doctorAccount
    set mobileNo = #{mobileNo,jdbcType=VARCHAR},
      userName = #{userName,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      realName = #{realName,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=TINYINT},
      areaProvince = #{areaProvince,jdbcType=VARCHAR},
      areaCity = #{areaCity,jdbcType=VARCHAR},
      birthday = #{birthday,jdbcType=DATE},
      identityCard = #{identityCard,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      hosName = #{hosName,jdbcType=VARCHAR},
      hosDepartment = #{hosDepartment,jdbcType=VARCHAR},
      skill = #{skill,jdbcType=VARCHAR},
      departmentPhone = #{departmentPhone,jdbcType=VARCHAR},
      devType = #{devType,jdbcType=VARCHAR},
      headImg = #{headImg,jdbcType=VARCHAR},
      position = #{position,jdbcType=TINYINT},
      price = #{price,jdbcType=DECIMAL},
      starLevel = #{starLevel,jdbcType=DECIMAL},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectBySelective" parameterType="com.aik.model.AccDoctorAccount" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from acc_doctorAccount
    where 1=1
    <if test="id != null">
      and id = #{id}
    </if>
    <if test="mobileNo != null">
      and mobileNo = #{mobileNo,jdbcType=VARCHAR}
    </if>
    <if test="userName != null">
      and userName = #{userName,jdbcType=VARCHAR}
    </if>
    <if test="realName != null">
      and realName = #{realName,jdbcType=VARCHAR}
    </if>
    <if test="sex != null">
      and sex = #{sex,jdbcType=TINYINT}
    </if>
    <if test="areaProvince != null">
      and areaProvince = #{areaProvince,jdbcType=VARCHAR}
    </if>
    <if test="areaCity != null">
      and areaCity = #{areaCity,jdbcType=VARCHAR}
    </if>
    <if test="birthday != null">
      and birthday = #{birthday,jdbcType=DATE}
    </if>
    <if test="identityCard != null">
      and identityCard = #{identityCard,jdbcType=VARCHAR}
    </if>
    <if test="email != null">
      and email = #{email,jdbcType=VARCHAR}
    </if>
    <if test="hosName != null">
      and hosName = #{hosName,jdbcType=VARCHAR}
    </if>
    <if test="hosDepartment != null">
      and hosDepartment = #{hosDepartment,jdbcType=VARCHAR}
    </if>
    <if test="skill != null">
      and skill = #{skill,jdbcType=VARCHAR}
    </if>
    <if test="departmentPhone != null">
      and departmentPhone = #{departmentPhone,jdbcType=VARCHAR}
    </if>
    <if test="devType != null">
      and devType = #{devType,jdbcType=VARCHAR}
    </if>
    <if test="position != null">
      and position = #{position,jdbcType=TINYINT}
    </if>
  </select>
  <select id="selectByMobileNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from acc_doctorAccount
    where mobileNo = #{mobileNo}
  </select>
  <select id="selectByUserNameAndPwd" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from acc_doctorAccount
    where userName = #{userName} and password = #{password}
  </select>
  <select id="selectByUserName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from acc_doctorAccount
    where userName = #{userName}
  </select>
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from acc_doctorAccount
    where 1=1
    <if test="hosName != null">
      and hosName = #{hosName}
    </if>
    <if test="sort != null">
      order by ${sort}
    </if>
    limit ${(page-1)*size}, #{size}
  </select>
</mapper>