<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.aik.dao.AccInviteCodeMapper" >
  <resultMap id="BaseResultMap" type="com.aik.model.AccInviteCode" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="inviteCode" property="inviteCode" jdbcType="VARCHAR" />
    <result column="mobileNo" property="mobileNo" jdbcType="VARCHAR" />
    <result column="createDate" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, inviteCode, mobileNo, createDate
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from acc_inviteCode
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from acc_inviteCode
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AccInviteCode" >
    insert into acc_inviteCode (id, inviteCode, mobileNo, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{inviteCode,jdbcType=VARCHAR}, #{mobileNo,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AccInviteCode" >
    insert into acc_inviteCode
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="inviteCode != null" >
        inviteCode,
      </if>
      <if test="mobileNo != null" >
        mobileNo,
      </if>
      <if test="createDate != null" >
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null" >
        #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AccInviteCode" >
    update acc_inviteCode
    <set >
      <if test="inviteCode != null" >
        inviteCode = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="mobileNo != null" >
        mobileNo = #{mobileNo,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AccInviteCode" >
    update acc_inviteCode
    set inviteCode = #{inviteCode,jdbcType=VARCHAR},
      mobileNo = #{mobileNo,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByMobileNo" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from acc_inviteCode
    where mobileNo = #{mobileNo}
  </select>
</mapper>