<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AikCarouselMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AikCarousel">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="deleteStatus" jdbcType="BIT" property="deleteStatus" />
    <result column="appNo" jdbcType="VARCHAR" property="appNo" />
    <result column="image" jdbcType="VARCHAR" property="image" />
  </resultMap>
  <sql id="Base_Column_List">
    id, createDate, deleteStatus, appNo, image
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aik_carousel
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from aik_carousel
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AikCarousel">
    insert into aik_carousel (id, createDate, deleteStatus, 
      appNo, image)
    values (#{id,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{deleteStatus,jdbcType=BIT}, 
      #{appNo,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AikCarousel">
    insert into aik_carousel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="deleteStatus != null">
        deleteStatus,
      </if>
      <if test="appNo != null">
        appNo,
      </if>
      <if test="image != null">
        image,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="appNo != null">
        #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AikCarousel">
    update aik_carousel
    <set>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        deleteStatus = #{deleteStatus,jdbcType=BIT},
      </if>
      <if test="appNo != null">
        appNo = #{appNo,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AikCarousel">
    update aik_carousel
    set createDate = #{createDate,jdbcType=TIMESTAMP},
      deleteStatus = #{deleteStatus,jdbcType=BIT},
      appNo = #{appNo,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <select id="findAll" parameterType="com.aik.model.AikCarousel"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aik_carousel
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
     <if test="appNo != null and appNo != ''">
      and appNo = #{appNo}
    </if>
   
  </select>
  
   <select id="findByPage" parameterType="com.aik.model.AikCarousel"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aik_carousel
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="appNo != null and appNo != ''">
      and appNo = #{appNo}
      </if>
  	</select>
  
  
  
</mapper>