<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AikExpertsAnswerMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AikExpertsAnswer">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="question" jdbcType="VARCHAR" property="question" />
    <result column="expertsName" jdbcType="VARCHAR" property="expertsName" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="answer" jdbcType="VARCHAR" property="answer" />
    <result column="questionDate" jdbcType="TIMESTAMP" property="questionDate" />
    <result column="program" jdbcType="VARCHAR" property="program" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, question, expertsName, education, answer, questionDate, program, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aik_expertsAnswer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aik_expertsAnswer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AikExpertsAnswer">
    insert into aik_expertsAnswer (id, question, expertsName, 
      education, answer, questionDate, 
      program, createDate)
    values (#{id,jdbcType=INTEGER}, #{question,jdbcType=VARCHAR}, #{expertsName,jdbcType=VARCHAR}, 
      #{education,jdbcType=VARCHAR}, #{answer,jdbcType=VARCHAR}, #{questionDate,jdbcType=TIMESTAMP}, 
      #{program,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AikExpertsAnswer">
    insert into aik_expertsAnswer
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="question != null">
        question,
      </if>
      <if test="expertsName != null">
        expertsName,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="answer != null">
        answer,
      </if>
      <if test="questionDate != null">
        questionDate,
      </if>
      <if test="program != null">
        program,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="question != null">
        #{question,jdbcType=VARCHAR},
      </if>
      <if test="expertsName != null">
        #{expertsName,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        #{answer,jdbcType=VARCHAR},
      </if>
      <if test="questionDate != null">
        #{questionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="program != null">
        #{program,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AikExpertsAnswer">
    update aik_expertsAnswer
    <set>
      <if test="question != null">
        question = #{question,jdbcType=VARCHAR},
      </if>
      <if test="expertsName != null">
        expertsName = #{expertsName,jdbcType=VARCHAR},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="answer != null">
        answer = #{answer,jdbcType=VARCHAR},
      </if>
      <if test="questionDate != null">
        questionDate = #{questionDate,jdbcType=TIMESTAMP},
      </if>
      <if test="program != null">
        program = #{program,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AikExpertsAnswer">
    update aik_expertsAnswer
    set question = #{question,jdbcType=VARCHAR},
      expertsName = #{expertsName,jdbcType=VARCHAR},
      education = #{education,jdbcType=VARCHAR},
      answer = #{answer,jdbcType=VARCHAR},
      questionDate = #{questionDate,jdbcType=TIMESTAMP},
      program = #{program,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from aik_expertsAnswer
    limit ${(page-1)*size}, #{size}
  </select>

  <select id="selectUserCollect" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from aik_expertsAnswer ea
    inner join aik_expertsAnswerCollect ec on ea.id = ec.expertsAnswerId
    where ec.userId = #{userId}
    limit ${(page-1)*size}, #{size}
  </select>
</mapper>