<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AikFreeQuestionOrderViewMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AikFreeQuestionOrderView">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="freeOrderId" jdbcType="INTEGER" property="freeOrderId" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, freeOrderId, userId, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aik_freeQuestionOrderView
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aik_freeQuestionOrderView
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AikFreeQuestionOrderView">
    insert into aik_freeQuestionOrderView (id, freeOrderId, userId, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{freeOrderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AikFreeQuestionOrderView">
    insert into aik_freeQuestionOrderView
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="freeOrderId != null">
        freeOrderId,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="freeOrderId != null">
        #{freeOrderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AikFreeQuestionOrderView">
    update aik_freeQuestionOrderView
    <set>
      <if test="freeOrderId != null">
        freeOrderId = #{freeOrderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AikFreeQuestionOrderView">
    update aik_freeQuestionOrderView
    set freeOrderId = #{freeOrderId,jdbcType=INTEGER},
      userId = #{userId,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCountBySelective" parameterType="com.aik.model.AikFreeQuestionOrderView" resultType="int">
    select count(*)
    from aik_freeQuestionOrderView
    where 1=1
    <if test="freeOrderId != null">
      and freeOrderId = #{freeOrderId}
    </if>
    <if test="userId != null">
      and userId = #{userId}
    </if>
  </select>
</mapper>