<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AikNutritionLessonViewMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AikNutritionLessonView">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="lessonId" jdbcType="INTEGER" property="lessonId" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  
   <resultMap id="BaseResultMapVo" type="com.aik.vo.AikNutritionLessonViewVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="lessonId" jdbcType="INTEGER" property="lessonId" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="starttime" jdbcType="VARCHAR" property="starttime" />
    <result column="endtime" jdbcType="VARCHAR" property="endtime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, lessonId, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aik_nutritionLessonView
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aik_nutritionLessonView
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AikNutritionLessonView">
    insert into aik_nutritionLessonView (id, userId, lessonId, 
      createDate)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{lessonId,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AikNutritionLessonView">
    insert into aik_nutritionLessonView
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="lessonId != null">
        lessonId,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AikNutritionLessonView">
    update aik_nutritionLessonView
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="lessonId != null">
        lessonId = #{lessonId,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AikNutritionLessonView">
    update aik_nutritionLessonView
    set userId = #{userId,jdbcType=INTEGER},
      lessonId = #{lessonId,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectCountBySelective" parameterType="com.aik.model.AikNutritionLessonView" resultType="int">
    select count(*)
    from aik_nutritionLessonView
    where 1=1
    <if test="userId != null">
      and userId = #{userId}
    </if>
    <if test="lessonId != null">
      and lessonId = #{lessonId}
    </if>
  </select>
  
  <select id="findAll" parameterType="com.aik.model.AikNutritionLessonView"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aik_nutritionLessonView
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="userId != null">
      and userId = #{userId}
    </if>
    <if test="lessonId != null">
      and lessonId = #{lessonId}
    </if>
  </select>
  
   <select id="findByPage" parameterType="com.aik.vo.AikNutritionLessonViewVo"  resultMap="BaseResultMapVo">
    select
    t.`id` id , m.`id` lessonId, m.`title` title, a.`id` userId, a.`userName` userName 
    FROM aik_nutritionLessonView t , aik_nutritionLesson m  , acc_userAccount a
    where m.`id` = t.`lessonId` AND a.`id` = t.`userId`
      <if test="id != null">
      and t.id = #{id}
      </if>
      <if test="userId != null">
      and t.userId = #{userId}
    </if>
    <if test="title != null and title != ''">
      and m.title = #{title}
    </if>
    <if test="lessonId != null">
      and t.lessonId = #{lessonId}
    </if>
    <if test="userName != null and userName != ''">
      and a.userName = #{userName}
    </if>
     <if test="starttime !=null and starttime!='' ">
        <![CDATA[ and DATE_FORMAT(t.createDate,'%Y-%m-%d') >= #{starttime}]]>
	</if>

	<if test="endtime !=null and endtime!='' ">
        <![CDATA[ and DATE_FORMAT(t.createDate,'%Y-%m-%d') <= #{endtime} ]]>
	</if>
    
  	</select>
  
  
</mapper>