<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AikNutritionLessonMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AikNutritionLesson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="issueDate" jdbcType="TIMESTAMP" property="issueDate" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, image, content, issueDate, createDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aik_nutritionLesson
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aik_nutritionLesson
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AikNutritionLesson">
    insert into aik_nutritionLesson (id, title, image, 
      content, issueDate, createDate
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{issueDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AikNutritionLesson">
    insert into aik_nutritionLesson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="title != null">
        title,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="content != null">
        content,
      </if>
      <if test="issueDate != null">
        issueDate,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="issueDate != null">
        #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AikNutritionLesson">
    update aik_nutritionLesson
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="issueDate != null">
        issueDate = #{issueDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AikNutritionLesson">
    update aik_nutritionLesson
    set title = #{title,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      issueDate = #{issueDate,jdbcType=TIMESTAMP},
      createDate = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByParams" parameterType="java.util.Map" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from aik_nutritionLesson
    limit ${(page-1)*size}, #{size}
  </select>
  <select id="findAll" parameterType="com.aik.model.AikNutritionLesson"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aik_nutritionLesson
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="title != null and title != ''">
      and title = #{title}
    </if>
   
  </select>
  
   <select id="findByPage" parameterType="com.aik.model.AikNutritionLesson"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aik_nutritionLesson
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="title != null and title != ''">
      and title = #{title}
    </if>
  	</select>
  
  
  
  
</mapper>