<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.AikNutritionalIndexMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.AikNutritionalIndex">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="weight" jdbcType="DECIMAL" property="weight" />
    <result column="bmi" jdbcType="DECIMAL" property="bmi" />
    <result column="recordDate" jdbcType="DATE" property="recordDate" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, height, weight, bmi, recordDate, createDate, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from aik_nutritionalIndex
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from aik_nutritionalIndex
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.AikNutritionalIndex">
    insert into aik_nutritionalIndex (id, userId, height, 
      weight, bmi, recordDate, 
      createDate, updateDate)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{height,jdbcType=DECIMAL}, 
      #{weight,jdbcType=DECIMAL}, #{bmi,jdbcType=DECIMAL}, #{recordDate,jdbcType=DATE}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.AikNutritionalIndex">
    insert into aik_nutritionalIndex
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="bmi != null">
        bmi,
      </if>
      <if test="recordDate != null">
        recordDate,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DECIMAL},
      </if>
      <if test="bmi != null">
        #{bmi,jdbcType=DECIMAL},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.AikNutritionalIndex">
    update aik_nutritionalIndex
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DECIMAL},
      </if>
      <if test="bmi != null">
        bmi = #{bmi,jdbcType=DECIMAL},
      </if>
      <if test="recordDate != null">
        recordDate = #{recordDate,jdbcType=DATE},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.AikNutritionalIndex">
    update aik_nutritionalIndex
    set userId = #{userId,jdbcType=INTEGER},
      height = #{height,jdbcType=DECIMAL},
      weight = #{weight,jdbcType=DECIMAL},
      bmi = #{bmi,jdbcType=DECIMAL},
      recordDate = #{recordDate,jdbcType=DATE},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByUserId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from aik_nutritionalIndex
    where userId = #{userId}
  </select>
</mapper>