<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.DietPlanTemplateMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.DietPlanTemplate">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="templateId" jdbcType="INTEGER" property="templateId" />
    <result column="foodId" jdbcType="INTEGER" property="foodId" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="dietType" jdbcType="TINYINT" property="dietType" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="createManager" jdbcType="INTEGER" property="createManager" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="updateManager" jdbcType="INTEGER" property="updateManager" />
  </resultMap>
  <sql id="Base_Column_List">
    id, templateId, foodId, weight, dietType, createTime, createManager, updateTime, 
    updateManager
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from diet_dietPlanTemplate
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diet_dietPlanTemplate
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.DietPlanTemplate">
    insert into diet_dietPlanTemplate (id, templateId, foodId, 
      weight, dietType, createTime, 
      createManager, updateTime, updateManager
      )
    values (#{id,jdbcType=INTEGER}, #{templateId,jdbcType=INTEGER}, #{foodId,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{dietType,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{createManager,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, #{updateManager,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.DietPlanTemplate">
    insert into diet_dietPlanTemplate
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="templateId != null">
        templateId,
      </if>
      <if test="foodId != null">
        foodId,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="dietType != null">
        dietType,
      </if>
      <if test="createTime != null">
        createTime,
      </if>
      <if test="createManager != null">
        createManager,
      </if>
      <if test="updateTime != null">
        updateTime,
      </if>
      <if test="updateManager != null">
        updateManager,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="templateId != null">
        #{templateId,jdbcType=INTEGER},
      </if>
      <if test="foodId != null">
        #{foodId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="dietType != null">
        #{dietType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManager != null">
        #{createManager,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManager != null">
        #{updateManager,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.DietPlanTemplate">
    update diet_dietPlanTemplate
    <set>
      <if test="templateId != null">
        templateId = #{templateId,jdbcType=INTEGER},
      </if>
      <if test="foodId != null">
        foodId = #{foodId,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="dietType != null">
        dietType = #{dietType,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createManager != null">
        createManager = #{createManager,jdbcType=INTEGER},
      </if>
      <if test="updateTime != null">
        updateTime = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateManager != null">
        updateManager = #{updateManager,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.DietPlanTemplate">
    update diet_dietPlanTemplate
    set templateId = #{templateId,jdbcType=INTEGER},
      foodId = #{foodId,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      dietType = #{dietType,jdbcType=TINYINT},
      createTime = #{createTime,jdbcType=TIMESTAMP},
      createManager = #{createManager,jdbcType=INTEGER},
      updateTime = #{updateTime,jdbcType=TIMESTAMP},
      updateManager = #{updateManager,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="getTemplateIds" resultType="int">
    select templateId
    from diet_dietPlanTemplate
    group by templateId
  </select>
  <select id="selectByTemplateId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from diet_dietPlanTemplate
    where templateId = #{templateId}
  </select>
</mapper>