<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.DietDailyNutritionMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.DietDailyNutrition">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="recordDate" jdbcType="DATE" property="recordDate" />
    <result column="protein" jdbcType="DECIMAL" property="protein" />
    <result column="lipid" jdbcType="DECIMAL" property="lipid" />
    <result column="carbs" jdbcType="DECIMAL" property="carbs" />
    <result column="vitamin" jdbcType="DECIMAL" property="vitamin" />
    <result column="minerals" jdbcType="DECIMAL" property="minerals" />
    <result column="water" jdbcType="DECIMAL" property="water" />
    <result column="dietaryFiber" jdbcType="DECIMAL" property="dietaryFiber" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  
  <resultMap id="BaseResultMapVo" type="com.aik.vo.DietDailyNutritionVo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="recordDate" jdbcType="DATE" property="recordDate" />
    <result column="starttime" jdbcType="VARCHAR" property="starttime" />
    <result column="endtime" jdbcType="VARCHAR" property="endtime" />
    <result column="protein" jdbcType="DECIMAL" property="protein" />
    <result column="lipid" jdbcType="DECIMAL" property="lipid" />
    <result column="carbs" jdbcType="DECIMAL" property="carbs" />
    <result column="vitamin" jdbcType="DECIMAL" property="vitamin" />
    <result column="minerals" jdbcType="DECIMAL" property="minerals" />
    <result column="water" jdbcType="DECIMAL" property="water" />
    <result column="dietaryFiber" jdbcType="DECIMAL" property="dietaryFiber" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, recordDate, protein, lipid, carbs, vitamin, minerals, water, dietaryFiber, 
    createDate, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from diet_dailyNutrition
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from diet_dailyNutrition
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.DietDailyNutrition">
    insert into diet_dailyNutrition (id, userId, recordDate, 
      protein, lipid, carbs, 
      vitamin, minerals, water, 
      dietaryFiber, createDate, updateDate
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{recordDate,jdbcType=DATE}, 
      #{protein,jdbcType=DECIMAL}, #{lipid,jdbcType=DECIMAL}, #{carbs,jdbcType=DECIMAL}, 
      #{vitamin,jdbcType=DECIMAL}, #{minerals,jdbcType=DECIMAL}, #{water,jdbcType=DECIMAL}, 
      #{dietaryFiber,jdbcType=DECIMAL}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.DietDailyNutrition">
    insert into diet_dailyNutrition
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="recordDate != null">
        recordDate,
      </if>
      <if test="protein != null">
        protein,
      </if>
      <if test="lipid != null">
        lipid,
      </if>
      <if test="carbs != null">
        carbs,
      </if>
      <if test="vitamin != null">
        vitamin,
      </if>
      <if test="minerals != null">
        minerals,
      </if>
      <if test="water != null">
        water,
      </if>
      <if test="dietaryFiber != null">
        dietaryFiber,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="recordDate != null">
        #{recordDate,jdbcType=DATE},
      </if>
      <if test="protein != null">
        #{protein,jdbcType=DECIMAL},
      </if>
      <if test="lipid != null">
        #{lipid,jdbcType=DECIMAL},
      </if>
      <if test="carbs != null">
        #{carbs,jdbcType=DECIMAL},
      </if>
      <if test="vitamin != null">
        #{vitamin,jdbcType=DECIMAL},
      </if>
      <if test="minerals != null">
        #{minerals,jdbcType=DECIMAL},
      </if>
      <if test="water != null">
        #{water,jdbcType=DECIMAL},
      </if>
      <if test="dietaryFiber != null">
        #{dietaryFiber,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.DietDailyNutrition">
    update diet_dailyNutrition
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="recordDate != null">
        recordDate = #{recordDate,jdbcType=DATE},
      </if>
      <if test="protein != null">
        protein = #{protein,jdbcType=DECIMAL},
      </if>
      <if test="lipid != null">
        lipid = #{lipid,jdbcType=DECIMAL},
      </if>
      <if test="carbs != null">
        carbs = #{carbs,jdbcType=DECIMAL},
      </if>
      <if test="vitamin != null">
        vitamin = #{vitamin,jdbcType=DECIMAL},
      </if>
      <if test="minerals != null">
        minerals = #{minerals,jdbcType=DECIMAL},
      </if>
      <if test="water != null">
        water = #{water,jdbcType=DECIMAL},
      </if>
      <if test="dietaryFiber != null">
        dietaryFiber = #{dietaryFiber,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.DietDailyNutrition">
    update diet_dailyNutrition
    set userId = #{userId,jdbcType=INTEGER},
      recordDate = #{recordDate,jdbcType=DATE},
      protein = #{protein,jdbcType=DECIMAL},
      lipid = #{lipid,jdbcType=DECIMAL},
      carbs = #{carbs,jdbcType=DECIMAL},
      vitamin = #{vitamin,jdbcType=DECIMAL},
      minerals = #{minerals,jdbcType=DECIMAL},
      water = #{water,jdbcType=DECIMAL},
      dietaryFiber = #{dietaryFiber,jdbcType=DECIMAL},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectUserNutrition" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from diet_dailyNutrition
    where userId = #{userId} and DATE(recordDate) = DATE(#{recordDate})
  </select>
  
  <select id="findAll" parameterType="com.aik.model.DietDailyNutrition"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from diet_dailyNutrition
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="userId != null">
      and userId = #{userId}
    </if>
  </select>
  
   <select id="findByPage" parameterType="com.aik.vo.DietDailyNutritionVo"  resultMap="BaseResultMapVo">
    select
    t.`id` id ,  a.`id` userId, a.`userName` userName, t.`recordDate` recordDate ,
     t.`protein` protein, t.`lipid` lipid, t.`carbs` carbs , t.`vitamin` vitamin
      , t.`minerals` minerals , t.`water` water , t.`dietaryFiber` dietaryFiber
    FROM diet_dailyNutrition t ,  acc_userAccount a
    where a.`id` = t.`userId`
      <if test="id != null">
      and t.id = #{id}
      </if>
      <if test="userId != null">
      and t.userId = #{userId}
    </if>
    <if test="userName != null and userName != ''">
      and a.name = #{userName}
    </if>
    <if test="starttime !=null and starttime!='' ">
        <![CDATA[ and DATE_FORMAT(t.recordDate,'%Y-%m-%d') >= #{starttime}]]>
	</if>

	<if test="endtime !=null and endtime!='' ">
        <![CDATA[ and DATE_FORMAT(t.recordDate,'%Y-%m-%d') <= #{endtime} ]]>
	</if>
    
  </select>
</mapper>