<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.StoGoodsMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.StoGoods">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="image" jdbcType="VARCHAR" property="image" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="isRecommend" jdbcType="TINYINT" property="isRecommend" />
    <result column="stock" jdbcType="INTEGER" property="stock" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, price, image, description, type, status, isRecommend, stock, createDate, 
    updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sto_goods
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sto_goods
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.StoGoods">
    insert into sto_goods (id, name, price, 
      image, description, type, 
      status, isRecommend, stock, 
      createDate, updateDate)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{image,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{type,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{isRecommend,jdbcType=TINYINT}, #{stock,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.StoGoods">
    insert into sto_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="image != null">
        image,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="isRecommend != null">
        isRecommend,
      </if>
      <if test="stock != null">
        stock,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="image != null">
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="isRecommend != null">
        #{isRecommend,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        #{stock,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.StoGoods">
    update sto_goods
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
      <if test="image != null">
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="isRecommend != null">
        isRecommend = #{isRecommend,jdbcType=TINYINT},
      </if>
      <if test="stock != null">
        stock = #{stock,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.StoGoods">
    update sto_goods
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      image = #{image,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      isRecommend = #{isRecommend,jdbcType=TINYINT},
      stock = #{stock,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectGoodsBySelective" parameterType="com.aik.model.StoGoods" resultType="java.util.Map">
    select id, image, name, description, price
    from sto_goods
    where 1=1
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="price != null">
      and price = #{price,jdbcType=DECIMAL}
    </if>
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="isRecommend != null">
      and isRecommend = #{isRecommend,jdbcType=TINYINT}
    </if>
  </select>
  <select id="selectRecommendGoods" parameterType="com.aik.model.StoGoods" resultType="java.util.Map">
    select id, image, name, description, price
    from sto_goods
    where 1=1
    <if test="name != null">
      and name = #{name,jdbcType=VARCHAR}
    </if>
    <if test="type != null">
      and type = #{type,jdbcType=TINYINT}
    </if>
    <if test="status != null">
      and status = #{status,jdbcType=TINYINT}
    </if>
    <if test="isRecommend != null">
      and isRecommend = #{isRecommend,jdbcType=TINYINT}
    </if>
    limit 3
  </select>
  <select id="selectByParams" parameterType="java.util.Map" resultType="java.util.Map">
    select id, image, name, description, price
    from sto_goods
    where 1=1
    <if test="name != null">
      and name = #{name}
    </if>
    <if test="type != null">
      and type = #{type}
    </if>
    <if test="status != null">
      and status = #{status}
    </if>
    limit ${(page-1)*size}, #{size}
  </select>
  
   <select id="findAll" parameterType="com.aik.model.StoGoods" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sto_goods
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="name != null and name != ''">
      and name = #{name}
    </if>
  </select>
  
   <select id="findByPage" parameterType="com.aik.model.StoGoods" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sto_goods
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="name != null and name != ''">
      and name = #{name}
    </if>
  	</select>
  
  
</mapper>