<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.StoUserOrderDetailMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.StoUserOrderDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="orderId" jdbcType="INTEGER" property="orderId" />
    <result column="goodsId" jdbcType="INTEGER" property="goodsId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, orderId, goodsId, number, amount, createDate, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sto_userOrderDetail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sto_userOrderDetail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.StoUserOrderDetail">
    insert into sto_userOrderDetail (id, userId, orderId, 
      goodsId, number, amount, 
      createDate, updateDate)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, 
      #{goodsId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.StoUserOrderDetail">
    insert into sto_userOrderDetail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="userId != null">
        userId,
      </if>
      <if test="orderId != null">
        orderId,
      </if>
      <if test="goodsId != null">
        goodsId,
      </if>
      <if test="number != null">
        number,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.StoUserOrderDetail">
    update sto_userOrderDetail
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        orderId = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="goodsId != null">
        goodsId = #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="number != null">
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.StoUserOrderDetail">
    update sto_userOrderDetail
    set userId = #{userId,jdbcType=INTEGER},
      orderId = #{orderId,jdbcType=INTEGER},
      goodsId = #{goodsId,jdbcType=INTEGER},
      number = #{number,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectDetailsBySelective" parameterType="com.aik.model.StoUserOrderDetail" resultType="java.util.Map">
    select sg.image as goodsImg, sg.name as goodsName, sg.description goodsDesc, sg.price as goodsPrice, uo.number as goodsNum
    from sto_userOrderDetail uo
    inner join sto_goods sg on uo.goodsId = sg.id
    where 1=1
    <if test="userId != null">
      and uo.userId = #{userId}
    </if>
    <if test="orderId != null">
      and uo.orderId = #{orderId}
    </if>
  </select>
  <select id="selectGoodsCountBySelective" parameterType="com.aik.model.StoUserOrderDetail" resultType="int">
    select sum(uo.number)
    from sto_userOrderDetail uo
    where 1=1
    <if test="userId != null">
      and uo.userId = #{userId}
    </if>
    <if test="orderId != null">
      and uo.orderId = #{orderId}
    </if>
  </select>
  
  <select id="findAll" parameterType="com.aik.model.StoUserOrderDetail"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sto_userOrderDetail
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="orderId != null">
      and orderId = #{orderId}
    </if>
  </select>
  
   <select id="findByPage" parameterType="com.aik.model.StoUserOrderDetail"  resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sto_userOrderDetail
    where 1=1
      <if test="id != null">
      and id = #{id}
      </if>
      <if test="orderId != null">
      and orderId = #{orderId}
    </if>
  	</select>
  
</mapper>