<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aik.dao.SysHospitalTreeMapper">
  <resultMap id="BaseResultMap" type="com.aik.model.SysHospitalTree">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="areaId" jdbcType="INTEGER" property="areaId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="updateDate" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    id, areaId, name, parent, sort, createDate, updateDate
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from sys_hospitalTree
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from sys_hospitalTree
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.aik.model.SysHospitalTree">
    insert into sys_hospitalTree (id, areaId, name, 
      parent, sort, createDate, 
      updateDate)
    values (#{id,jdbcType=INTEGER}, #{areaId,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{parent,jdbcType=INTEGER}, #{sort,jdbcType=INTEGER}, #{createDate,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.aik.model.SysHospitalTree">
    insert into sys_hospitalTree
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="areaId != null">
        areaId,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="parent != null">
        parent,
      </if>
      <if test="sort != null">
        sort,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="updateDate != null">
        updateDate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="areaId != null">
        #{areaId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        #{parent,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.aik.model.SysHospitalTree">
    update sys_hospitalTree
    <set>
      <if test="areaId != null">
        areaId = #{areaId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="parent != null">
        parent = #{parent,jdbcType=INTEGER},
      </if>
      <if test="sort != null">
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null">
        updateDate = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.aik.model.SysHospitalTree">
    update sys_hospitalTree
    set areaId = #{areaId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      parent = #{parent,jdbcType=INTEGER},
      sort = #{sort,jdbcType=INTEGER},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      updateDate = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByAreaId" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_hospitalTree
    where areaId = #{areaId} order by sort,id
  </select>
  <select id="selectByParent" parameterType="int" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_hospitalTree
    where parent = #{parent} order by sort,id
  </select>
  <select id="selectByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from sys_hospitalTree
    where name = #{name} limit 1
  </select>
</mapper>