
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>食物添加
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
			<a href="javascript:;" class="reload">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-inline"  method ="post" action="" id="foodAdd" enctype="multipart/form-data">
			<table class="table  table-bordered ">
				<tr>
					<td>食物名称</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-description="name"  data-describedby="namespan" id="name" name="name"  />
						<span class="required">*</span>
						<span class="help-inline prompt" id="namespan" style="color: #000000"></span>
					</td>
					<td>食物类别</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-description="category"  data-describedby="categoryspan" id="category" name="category"  />
						<span class="required">*</span>
						<span class="help-inline prompt" id="categoryspan" style="color: #000000"></span>
					</td>
				</tr>
				
				<tr>
					<td>食物亮点</td>
					<td>
						<select class="form-control" name="brightSpot">
							<option value="-1" selected="selected">无</option>
							<option value="1">GI最低</option>
						</select>
					</td>
					<td>食物亮点排名</td>
					<td><input type="text" class="form-control" name="spotRank" value="" /></td>
				</tr>
					<td>蛋白质比例</td>
					<td><input type="text" class="form-control"  id="proteinRadio"  name="proteinRadio" value="" /></td>
					<td>脂肪比例</td>
					<td><input type="text" class="form-control" name="fatRadio" value="" /></td>
				
				<tr>
					<td>碳水化合物比例</td>
					<td><input type="text"  class="form-control" name="carbsRadio" value="" /></td>
					<td>营养膳食</td>
					<td>
						<select class="form-control" name="type">
							<option value="0" selected="selected">膳食</option>
							<option value="1">营养</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td>食物份量单位</td>
					<td>
						<input type="text" class="form-control "  name="weightUnit" value="" />
					</td>
					<td> 每份重量</td>
					<td>
						<input type="text" class="form-control "  name="weight" value="" />
					</td>
				</tr>
				
				<tr>
					<td> 推荐|禁食</td>
					<td>
						<select class="form-control" name="recommend">
							<option value="false" selected="selected">推荐</option>
							<option value="true">禁食</option>
						</select>
					</td>
					<td>有效性</td>
					<td>
						<select class="form-control" name="deleteStatus">
							<option value="false" selected="selected">有效</option>
							<option value="true">无效</option>
						</select>
					</td>
				</tr>
				<tr>
					<td> 个人图片</td>
					<td  colspan="3">
						<div class="fileinput fileinput-new"
							data-provides="fileinput">
							<div class="fileinput-new thumbnail"
								style="width: 150px; height: 150px;">
								<img th:src="@{/static/assets/img/no_image.gif}"  name="userPhoto" alt="" />
								
							</div>
							<div class="fileinput-preview fileinput-exists thumbnail"
								style="max-width: 150px; max-height: 150px;">
							</div>
							<div>
								<span class="default btn-file"> <span
									class="fileinput-new"> Select image </span> <span
									class="fileinput-exists"> Change </span> 
									<input type="file" name="file" /> </span>
								<a href="components_form_tools.html#"
									class="btn default fileinput-exists"
									data-dismiss="fileinput"> Remove </a>
							</div>
						</div>
						<div class="clearfix margin-top-10">
							<span class="label label-danger"> NOTE! </span> 最佳尺寸:150px * 150px
						</div>
					</td>
				</tr>
				
			</table>
			
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-offset-5 col-md-3">
							<button type ="submit" id="user_vsave" class="btn blue" >保 存</button>
							<button type="button" id="goback_ar" class="btn default">返 回</button>
						</div>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>

<script>
	window.foodAdd = null;
    var foodAdd = {
    		fm : jQuery("#foodAdd"),
    		
    		basePath : jQuery("#basePath").val(),
    		//初始化
    		init : function(){
    			this.bindEvent();
    			this.initValidate();
    		},
    		//事件绑定
    		 bindEvent : function(){
				var _this = this;
    			//绑定添加单击事件
    			jQuery("#user_vsave").bind("click", function(){
    				Dialog.confirm({
	    				content:'确定保存?',
						onSubmitted:function(){
	   						if(UiUtils.check("userAdd")){
	   							//addUser();
	   							_this.ajaxSubmit();
	   						}
	   					}
   					});
        			return false;
        		});	
        		jQuery("#goback_ar").bind("click",function(){
					_this.closedTab(); 				
    			});	
    		},
    		closedTab : function(){
    			jQuery('#tabli_11').trigger('click'),
				jQuery('#tabli_2').remove(),
				jQuery('#tab_2').remove(),
				foodPage.load(1);
    		},
    		//提交数据
    		onSubmit: function(){
    			var _this = this;
    			Ajax.request({
    				url:"",
    				type:"post",
    				data: {partner:JSON.stringify(_this.getFormData())},
    				success: function(data){
    					if(!data) return;
    					Dialog.notice({
    						content: data.info,
    						onSubmitted: function(){
    							_this.closedTab();
    						},
    						onClosed: function(){
    							_this.closedTab();
    						}
    					});
    				}
    			});
    		},
    		//有图片的页面提交
    		ajaxSubmit: function(){
    			
    			var _this = this;
    			Ajax.requestSubmit({
    				fm: _this.fm,
    				url: _this.basePath + '/foods/save',
    				type: "post",
    				success: function(data){
    					if(!data) return;
    					Dialog.notice({
    						content: data.info,
    						onSubmitted: function(){
    							if("用户名已经注册，请重新输入" != data.info){
    								_this.closedTab();
    							}
    						},
    						onClosed: function(){
    							if("用户名已经注册，请重新输入" != data.info){
    								_this.closedTab();
    							}
    						}
    					});
    				}
    			});
    		},
    		//基本信息表单域取值
    		getFormData: function(){
    			var data = {},
					_field,
					_fieldName;
				this.fm.find("input, select").each(function(i, n){
					_field = jQuery(n), 
					_fieldName = _field.attr("name");
					if(_fieldName){
						data[_fieldName] = _field.val();
					}
				});
				return data;
    		},    		
			initValidate : function(){
				jQuery("#userAdd").validate({
					onKeyup : true,
					sendForm : false,
					eachValidField : function() {
						jQuery(this).removeClass('error');
					},
					eachInvalidField : function() {
						jQuery(this).addClass('error');
					},
					
					description : {
					
						mobile : {
							required : '请输入手机号码',
							pattern : '手机号码必须11位以上数字'
						},
						
						password : {
							required : '请输入密码',
							pattern : '请输入6-16位字母，数字'
						},
						email : {
							required : '请输入邮箱地址',
							pattern : '邮箱地址格式不正确'
						},
						userName : {
							required : '请输入登录名',
							pattern : '长度必须6-16位字符'
						},
						trueName : {
							required : '请输入真实姓名'
						},
						qq :{
							pattern : '长度为5以上的'
						}
					}
					
				});
			}
    }
    
 </script> 
<script>
jQuery(document).ready(function(){    
	foodAdd.init();
});
</script>