
<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>会员添加
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
			<a href="javascript:;" class="reload">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form class="form-inline"  method ="post" action="" id="userAdd" enctype="multipart/form-data">
			<input type="hidden" class="form-control" name="userRole" value="USER" />
			<table class="table  table-bordered ">
				<tr>
					
					<td> 用户名</td>
					<td>
						<input type="text" class="form-control r" data-required="true" data-pattern="[a-zA-Z0-9]{6,16}" data-description="userName" data-describedby="userNamespan"  id="userName" placeholder="登录帐号"  name="userName" />
						<span class="required">*</span>
						<span class="help-inline prompt" id="userNamespan" style="color: #000000"></span>
					</td>
					<td>密码</td>
					<td>
						<input type="password" class="form-control r" data-required="true" data-pattern="[a-zA-Z0-9]{6,16}" data-description="password" data-describedby="passwordspan"  name="password" id="password" placeholder="密码" />
						 <span class="required">*</span>
						 <span class="help-inline prompt" id="passwordspan" style="color: #000000">6-16位字母，数字</span>
					</td>
				</tr>
				
				<tr>
					<td>真实姓名</td>
					<td>
						<input type="text" class="form-control r"  data-required="true"  data-description="trueName"  data-describedby="trueNamespan" id="trueName" name="trueName" placeholder="真实姓名" />
						<span class="required">*</span>
						<span class="help-inline prompt" id="trueNamespan" style="color: #000000"></span>
					</td>
					<td>昵称</td>
					<td><input type="text" class="form-control" name="nice" value="" /></td>
				</tr>
				
				
				
				<tr>
					<td>用户类型用户类型</td>
					<td>
						<select class="form-control" name="userType">
							<option value="0" selected="selected">健康的咨询者</option>
							<option value="1">家属</option>
							<option value="2">患者</option>
						</select>
					</td>
					<td>QQ</td>
					<td>
						<input type="text" class="form-control" data-pattern="[0-9]{5,13}" data-description="qq" data-describedby="qqspan" id="qq"  name="qq" placeholder="QQ" />
						<span class="help-inline prompt" id="qqspan" style="color: #000000" ></span>
					</td>
					
				</tr>
				
				<tr>
					<td>通信地址</td>
					<td><input type="text" class="form-control" name="address" /></td>
					<td> 邮箱</td>
					<td>
						<input type="text" class="form-control r" data-required="true" data-pattern="^([\.a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(\.[a-zA-Z0-9_-])+" data-description="email" data-describedby="emailspan"  name="email" id="email" placeholder="Email" />
						<span class="required">*</span>
						<span class="help-inline prompt" id="emailspan" style="color: #000000"></span>
					</td>
				</tr>
				
				<tr>
					<td> 手机号码</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-pattern="^0?1(3|5|8|7)\d{9}$" data-description="mobile" data-describedby="mobilespan"  id="mobileNo" name="mobileNo" placeholder="手机号码" />
						<span class="required">*</span>
						<span class="help-inline prompt" id="mobilespan" style="color: #000000"></span>
					</td>
					<td> 性别</td>
					<td>
						<select class="form-control" name="sex">
							<option value="0" selected="selected">男</option>
							<option value="1">女</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td> 固定电话</td>
					<td>
						<input type="text" class="form-control"  id="telephone" name="telephone" placeholder="固定电话" />
					</td>
					<td> 有效性</td>
					<td>
						<select class="form-control" name="deleteStatus">
							<option value="false" selected="selected">有效</option>
							<option value="true">无效</option>
						</select>
					</td>
				</tr>
				
				<tr>
					<td> 证件类型</td>
					<td>
						<!-- <select class="form-control" name="identityType">
							#foreach ($codecode in $codeList)
							<option value="$codecode.id" 
								>$codecode.codeCName</option>
							#end
						</select> -->
					</td>
					<td> 证件号码</td>
					<td><input type="text" class="form-control" name="identityCard" />
					</td>
				</tr>
				<tr>
					<td> 个人图片</td>
					<td  colspan="3">
						<div class="fileinput fileinput-new"
							data-provides="fileinput">
							<div class="fileinput-new thumbnail"
								style="width: 150px; height: 150px;">
								<img th:src="@{/static/assets/img/no_image.gif}"  name="userPhoto" alt="" />
								
							</div>
							<div class="fileinput-preview fileinput-exists thumbnail"
								style="max-width: 150px; max-height: 150px;">
							</div>
							<div>
								<span class="default btn-file"> <span
									class="fileinput-new"> Select image </span> <span
									class="fileinput-exists"> Change </span> 
									<input type="file" name="file" /> </span>
								<a href="components_form_tools.html#"
									class="btn default fileinput-exists"
									data-dismiss="fileinput"> Remove </a>
							</div>
						</div>
						<div class="clearfix margin-top-10">
							<span class="label label-danger"> NOTE! </span> 最佳尺寸:150px * 150px
						</div>
					</td>
				</tr>
				
			</table>
			
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-offset-5 col-md-3">
							<button type ="submit" id="user_vsave" class="btn blue" >保 存</button>
							<button type="button" id="goback_ar" class="btn default">返 回</button>
						</div>
					</div>
				</div>
			</div>
			
		</form>
	</div>
</div>

<script>
	window.userAdd = null;
    var userAdd = {
    		fm : jQuery("#userAdd"),
    		
    		basePath : jQuery("#basePath").val(),
    		//初始化
    		init : function(){
    			this.bindEvent();
    			this.initValidate();
    		},
    		//事件绑定
    		 bindEvent : function(){
				var _this = this;
    			//绑定添加单击事件
    			jQuery("#user_vsave").bind("click", function(){
    				Dialog.confirm({
	    				content:'确定保存?',
						onSubmitted:function(){
	   						if(UiUtils.check("userAdd")){
	   							//addUser();
	   							_this.ajaxSubmit();
	   						}
	   					}
   					});
        			return false;
        		});	
        		jQuery("#goback_ar").bind("click",function(){
					_this.closedTab(); 				
    			});	
    		},
    		closedTab : function(){
    			jQuery('#tabli_11').trigger('click'),
				jQuery('#tabli_2').remove(),
				jQuery('#tab_2').remove(),
				userPage.load(1);
    		},
    		//提交数据
    		onSubmit: function(){
    			var _this = this;
    			Ajax.request({
    				url:"",
    				type:"post",
    				data: {partner:JSON.stringify(_this.getFormData())},
    				success: function(data){
    					if(!data) return;
    					Dialog.notice({
    						content: data.info,
    						onSubmitted: function(){
    							_this.closedTab();
    						},
    						onClosed: function(){
    							_this.closedTab();
    						}
    					});
    				}
    			});
    		},
    		//有图片的页面提交
    		ajaxSubmit: function(){
    			
    			var _this = this;
    			Ajax.requestSubmit({
    				fm: _this.fm,
    				url: _this.basePath + '/users/save',
    				type: "post",
    				success: function(data){
    					if(!data) return;
    					Dialog.notice({
    						content: data.info,
    						onSubmitted: function(){
    							if("用户名已经注册，请重新输入" != data.info){
    								_this.closedTab();
    							}
    						},
    						onClosed: function(){
    							if("用户名已经注册，请重新输入" != data.info){
    								_this.closedTab();
    							}
    						}
    					});
    				}
    			});
    		},
    		//基本信息表单域取值
    		getFormData: function(){
    			var data = {},
					_field,
					_fieldName;
				this.fm.find("input, select").each(function(i, n){
					_field = jQuery(n), 
					_fieldName = _field.attr("name");
					if(_fieldName){
						data[_fieldName] = _field.val();
					}
				});
				return data;
    		},    		
			initValidate : function(){
				jQuery("#userAdd").validate({
					onKeyup : true,
					sendForm : false,
					eachValidField : function() {
						jQuery(this).removeClass('error');
					},
					eachInvalidField : function() {
						jQuery(this).addClass('error');
					},
					
					description : {
					
						mobile : {
							required : '请输入手机号码',
							pattern : '手机号码必须11位以上数字'
						},
						
						password : {
							required : '请输入密码',
							pattern : '请输入6-16位字母，数字'
						},
						email : {
							required : '请输入邮箱地址',
							pattern : '邮箱地址格式不正确'
						},
						userName : {
							required : '请输入登录名',
							pattern : '长度必须6-16位字符'
						},
						trueName : {
							required : '请输入真实姓名'
						},
						qq :{
							pattern : '长度为5以上的'
						}
					}
					
				});
			}
    }
    
 </script> 
<script>
jQuery(document).ready(function(){    
	userAdd.init();
});
</script>