<div class="portlet box blue">
	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-reorder"></i>内容
		</div>
		<div class="tools">
			<a href="javascript:;" class="collapse">
			</a>
			<a href="javascript:;" class="reload">
			</a>
		</div>
	</div>
	<div class="portlet-body form">
		<form action="" method="post" class="form-inline" id="user_vfm" enctype="multipart/form-data">
			<input type ="hidden" id="id" name="id" value="" th:value="${accUserAccount.id}" />
			<input type ="hidden" id="opt" name="opt" value="" th:value="${opt}" />
			
			<table class="table  table-bordered ">
				<tr>
					
					<td>用户名</td>
					<td>
						<input type="text" class="form-control r" readOnly="true" data-required="true" data-pattern="[a-zA-Z0-9]{5,16}" data-description="userName" data-describedby="userNamespan"  id="userName" placeholder="登录帐号"  name="userName" value="" th:value="${accUserAccount.userName}"/>
						<span class="required">*</span>
						<span class="help-inline prompt" id="userNamespan" style="color: #000000"></span>
					</td>
					<td>有效性</td>
					<td>
						<select class="form-control" name="deleteStatus">
							<option selected="selected" value="false">有效</option>
							<option selected="selected" value="true">无效</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>真实姓名</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-description="realName"  data-describedby="realNamespan" id="realName" name="realName" placeholder="真实姓名" value="" th:value="${accUserAccount.realName}"/>
						<span class="required">*</span>
						<span class="help-inline prompt" id="realNamespan" style="color: #000000"></span>
					</td>
					<td> 昵称</td>
					<td><input type="text" class="form-control" name="nice" value="" th:value="${accUserAccount.nickName}"/></td>
				</tr>
				
				
				<tr>
					<td>手机号码</td>
					<td>
						<input type="text" class="form-control r" data-required="true"  data-pattern="^0?1(3|5|8|7)\d{9}$" data-description="mobile" data-describedby="mobilespan" id="mobileNo" name="mobileNo" placeholder="手机号码" value="" th:value="${accUserAccount.mobileNo}"/>
						<span class="required">*</span>
						<span class="help-inline prompt" id="mobilespan" style="color: #000000"></span>
					</td>
					<td> 性别</td>
					<td>
						<select class="form-control" name="sex">
							<option value="0" >男</option>
							<option value="1" >女</option>
						</select>
						<span class="help-inline prompt" id="sexspan" style="color: #000000"></span>
					</td>
				</tr>
				
				<tr>
					<td>证件类型</td>
					<td>
						<select class="form-control">
							<option value="0" selected="selected">身份证</option>
						</select>
					</td>
					<td> 证件号码</td>
					<td><input type="text" class="form-control" name="identityCard" value="" />
					</td>
				</tr>
				
				
				<tr>
					<td>通信地址</td>
					<td><input type="text"  class="form-control" name="address" value="" /></td>
					<td></td>
					<td></td>
				</tr>
				
				
					<tr>
					<td> 个人图片 <input type="hidden" name="imgNo" value="1" /></td>
					<td  colspan="3">
						<div class="fileinput fileinput-new"
							data-provides="fileinput">
							<div class="fileinput-new thumbnail"
								style="width: 150px; height: 150px;">
								<img src=""  name="photo" alt="" />
								
							</div>
							<div class="fileinput-preview fileinput-exists thumbnail"
								style="max-width: 150px; max-height: 150px;">
							</div>
							<div>
								<span class="default btn-file"> <span
									class="fileinput-new">选择照片</span> <span
									class="fileinput-exists">更换照片</span> 
									<input type="file" name="file" /> </span>
								<a href="components_form_tools.html#"
									class="btn default fileinput-exists"
									data-dismiss="fileinput">删除照片</a>
							</div>
						</div>
						<div class="clearfix margin-top-10">
							<span class="label label-danger">提示!</span>最佳尺寸:150px * 150px
						</div>
					</td>
				</tr>
				
				
			</table>
			
			<div class="form-actions fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-offset-5 col-md-3">
							<button type ="submit" id="save_ar" class="btn blue" >保 存</button>
							<button type="button" id="goback_ar" class="btn default">返 回</button>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

<script>
window.userView = null;
var userView  = {
		fm : jQuery("#user_vfm"),
		basePath : jQuery("#basePath").val(),
		//初始化
		init : function(){
			if(jQuery("#opt").val() == "view"){
				userView.readOnlyPallet();
			}
			this.bindEvent();
			this.initValidate();
		},
		
		//事件绑定
		bindEvent : function(){
			var _this = this;

			//绑定保存单击事件
			jQuery("#save_ar").bind("click", function(){
				Dialog.confirm({
					content:'确定保存?',
					onSubmitted:function(){
   						if(UiUtils.check("user_vfm")){
   							//updateAdmin();
   							var url = _this.basePath + "/users/update";
							_this.ajaxSubmit(url);
   						}
   					}
    			});
			});
			
			
			jQuery("#goback_ar").bind("click",function(){
				_this.closedTab();				
    		});
			
		},
   		closedTab : function(){
    			jQuery('#tabli_11').trigger('click'),
				jQuery('#tabli_2').remove(),
				jQuery('#tab_2').remove(),
				userPage.load(1);
    	},
		//禁止输入
   		readOnlyPallet: function(){
   			this.fm.find("input, textarea").attr("readOnly", true);
   			this.fm.find("input[type='riadio']").attr("disable",true);
			this.fm.find("select").attr("disabled", true);
			jQuery("#save_ar").remove();
		},
		//提交数据
   		/* onSubmit: function(){
   			var _this = this;
   			Ajax.request({
   				url:"/partnerUpdate.htm",
   				type:"post",
   				data: {partner:JSON.stringify(_this.getFormData())},
   				success: function(data){
   					if(!data) return;
   					Dialog.notice({
   						content: data.info,
   						onSubmitted: function(){
   							_this.closedTab();
   						},
   						onClosed: function(){
   							_this.closedTab();
   						}
   					});
   				}
   			});
   		}, */
   		//有图片的页面提交
   		ajaxSubmit: function(url){
   			var _this = this;
   			Ajax.requestSubmit({
				fm: _this.fm,
				url: url,
				type: "post",
				success: function(data){
					if(!data) return;
					Dialog.notice({
						content: data.info,
						onSubmitted: function(){
							_this.closedTab();
						},
						onClosed: function(){
							_this.closedTab();
						}
					});
				}
   			});
   		},
   		//基本信息表单域取值
   		getFormData: function(){
   			var data = {},
				_field,
				_fieldName;
			this.fm.find("input, select").each(function(i, n){
				_field = jQuery(n), 
				_fieldName = _field.attr("name");
				if(_fieldName){
					data[_fieldName] = _field.val();
				}
			});
			return data;
   		},
   		
   		initValidate : function(){
   		
    		jQuery('#user_vfm').validate({
				onKeyup : true,
				sendForm : false,
				eachValidField : function() {
					jQuery(this).removeClass('error');
				},
				eachInvalidField : function() {
					jQuery(this).addClass('error');
				},
				
				description : {
					
					mobile : {
						required : '请输入手机号码',
						pattern : '手机号码格式不正确'
					},
					
					userName : {
						required : '请输入登录名',
						pattern : '长度必须5-16位字符'
					},
					realName : {
						required : '请输入真实姓名'
					},
					qq :{
						pattern : '长度为5以上的'
					}
				}
				
			});
   		
   		}
}

 </script> 
<script>
jQuery(document).ready(function(){    
	userView.init();
});
</script>
