<!DOCTYPE HTML>
<html>
    <div class="tabbable tabbable-custom boxless">
        <ul class="nav nav-tabs" id="nav-tabs">
            <li id="tabli_1" class="active">
                <a id="tabli_11" href="#tab_1" data-toggle="tab">查询信息</a>
            </li>
        </ul>
        <div class="tab-content" id="tab-content">
            <div class="tab-pane active" id="tab_1">
                <!--search box-->
                <div class="portlet box blue">
                    <!--search box title-->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-search"></i>条件
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="collapse">
                            </a>
                        </div>
                    </div>
                    <!--search box form-->
                    <div class="portlet-body form">
                        <form class="form-horizontal" id="commonProblem_form">
                            <!--from body-->
                            <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label col-md-3">问题</label>
                                            <div class="col-md-9">
                                                <input title="问题" type="text" class="form-control" name="question">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--form actions-->
                            <div class="form-actions fluid">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="col-md-offset-5 col-md-1">
                                            <button type="button" id="btn_search" class="btn blue">查 询</button>
                                        </div>
                                        <div class="col-md-1">
                                            <button type="reset"  class="btn default">重 置</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!--list box-->
                <div class="portlet box blue">
                    <!--list box title-->
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-list"></i>内容
                        </div>
                        <div class="tools">
                            <a href="javascript:void(0);" class="collapse"></a>
                        </div>
                    </div>
                    <!--list box content-->
                    <div class="portlet-body">
                        <!--content toolbar-->
                        <div class="table-toolbar">
                            <div class="btn-group">
                                <button id="add_ar" class="btn green">
                                    添加 <i class="fa fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <!--content-->
                        <div id="list-content"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</html>
<script type="text/javascript">
    var commonProblemPage = {
        fm: jQuery("#commonProblem_form"),
        basePath : jQuery("#basePath").val(),
        pageSize : 5,
        init: function() {
            this.bindEvent();
        },
        bindEvent: function() {
            var _this = this;
            //绑定查询单击事件
            jQuery("#btn_search").bind("click", function(){
                _this.load(1);
            });
            jQuery("#add_ar").bind("click", function(){
                Ajax.load({
                    url: _this.basePath + "/commonProblem/gotoAddPage",
                    tab: "2",
                    data:{},
                    iTab: true,
                    tabTitle: "添加常见问题"
                });
                return false;
            });
            jQuery("#list-content").delegate("li[data-pre=pageNum]", "click", function(){//绑定页码单击事件
                var num = jQuery(this).find('a').attr("value");
                if(num > 0) {
                    _this.load(num);
                }
                return false;
            }).delegate(".view", "click", function(){
                var _tr = jQuery(this).closest("tr"),
                    userId = jQuery.trim(_tr.children('td').eq(0).attr('id'));
                Ajax.load({
                    url: _this.basePath +"/commonProblem/view/"+ userId +"/view",
                    tab: "2",
                    data:{},
                    iTab: true,
                    tabTitle: "查看常见问题"
                });
                return false;
            }).delegate(".edit", "click", function(){
                var _tr = jQuery(this).closest("tr"),
                    id = jQuery.trim(_tr.children('td').eq(0).attr('id'));
                Ajax.load({
                    url: _this.basePath +"/commonProblem/view/"+ id +"/edit",
                    tab: "2",
                    data:{},
                    iTab: true,
                    tabTitle: "编辑常见问题"
                });
                return false;
            }).delegate(".delete", "click", function(){//绑定删除单击事件
                var _tr = jQuery(this).closest("tr"),
                    id = jQuery.trim(_tr.children('td').eq(0).attr('id'));
                Dialog.confirm({
                    content:'确定要删除?',
                    onSubmitted:function(){

                        Ajax.request({
                            url: _this.basePath +"/commonProblem/delete/"+id,
                            type:"get",
                            data:{},
                            success: function(data){
                                if(!data) return;
                                Dialog.notice({
                                    content: data.msg,
                                    onSubmitted: function(){
                                        _this.load(1);
                                    },
                                    onClosed: function(){
                                        _this.load(1);
                                    }
                                });
                            }
                        });
                    }
                });
                return false;
            });
        },
        load: function(num) {
            Ajax.load({
                url: this.basePath + "/commonProblem/goto/"+ num + "/"+ this.pageSize,
                data: this.fm.serializeArray(),
                target:"#list-content"
            });
        }
    };

    jQuery(function() {
        commonProblemPage.init();
    });
</script>